body{
    text-align: center;
    margin: 0px;
    background-color: grey;
}
div{
    border: 1px solid black;
}
#title{
    border:none;
    border-bottom: 2px solid black;
}
#wrapper{
    /*border:none;*/
    width:initial;
    padding: 10px;
}
#menu{
    background-color: lightgray;
    text-align: left;
    float: left;
    width: 400px;
}
#out{
    background-color: lightgray;
    overflow: hidden;
    margin-left: 10px;
    width: auto;
    text-align: center;
}